<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <!-- user registration section -->

    <div class="registration">
        <div class="reg-img">
            <img src="./user-signup.jpg" alt="">
        </div>
        <div class="rl-form">
            <div>Registration</div>
            <div>
                <form method="post" action="/register" class="reg-form" id="reg-form">

                    <label for="name">Full Name:</label>
                    <input type="text" name="fullname" id="name" placeholder="eg. Himanshu Kumar" >

                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" placeholder="eg. himanshu123"  >

                    <label for="gender">Male:</label>
                    <input type="radio" name="gender" value="Male" id="gender" placeholder="eg. himanshu123" >
                    <label for="gender">Female:</label>
                    <input type="radio" name="gender" value="Female" id="gender" placeholder="eg. himanshu123" >

                    <label for="phoneNumber">Phone Number:</label>
                    <input type="number" name="phoneNumber" id="phoneNumber" placeholder="eg. 1234567890" pattern="0-9" >

                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="eg. abc@xyz.com" >

                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password" placeholder="Password" required>

                    <label for="cnfPassword">Confirm Password:</label>
                    <input type="password" name="cnfpassword" id="cnfpassword" placeholder="Password" required>

                    <button type="submit">SignUp</button>
                </form>
            </div>
            <div class="ex-user">Existing user ? <span href="/" onclick="exUser()" style="cursor:pointer"><b>click here</b></span> to login.</div>
        </div>
    </div>



    <!-- user login section -->
    <div class="login">
        <div class="reg-img">
            <img src="./user-login.jpg" alt="">
        </div>
        <div class="rl-form">
            <h1>Login</h1>
            <a href="./google/auth" ><button type="submit" class="google-btn">Continue with google...</button></a>
            <a href="./github/auth" ><button type="submit" class="google-btn">Continue with github...</button></a>
            <div>
                <form action="/login" method="post" class="reg-form" id="login-form">
                    <label for="email">Email:</label>
                    <input type="text" name="loginId" id="email" placeholder="eg. abc@xyz.com" required>

                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                    
                    <button type="submit">Sign in</button>
                </form>
            </div>
            <div class="ex-user">New user ? <span href="/" onclick="newUser()" style="cursor:pointer"><b>click here</b></span> to signup.</div>
        </div>
    </div>
    <!-- javascript file link -->
    <script src="./script.js"></script>
</body>
</html>