<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <!-- user registration section -->

    <div class="registration" style="display: block; text-align: center; padding: 60px 10px;">
        <h2>Your profile details</h2>
        <p class="info">Full name : <%= userInfo.fullname%></p>
        <p class="info">Username : <%= userInfo.username%></p>
        <p class="info">Email id : <%= userInfo.email%></p>
        <p class="info">Phone Number : <%= userInfo.phoneNumber%></p>
    </div>



    
    <!-- javascript file link -->
    <script src="./script.js"></script>
</body>
</html>