<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <!-- user registration section -->

    <div class="registration" style="display: block; text-align: center; padding: 60px 10px;">
        <h1><%=userInfo.fullname.split(" ")[0] %>! Thank you for your registration</h1>
        <h3>Kindly go to login</h3>
        <button style="margin-top: 20px; height: 40px; background-color: rgba(48, 48, 238, 0.829); padding: 10px;"><a href="/" style="text-decoration: none; color: white;">click to Login</a></button>
    </div>



    
    <!-- javascript file link -->
    <script src="./script.js"></script>
</body>
</html>